{% extends "Base_APP.html" %}
{% block head %}
{{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
{% endblock head%}

{% block SubPageHeader %}
		人员看板
{% endblock SubPageHeader%}

{%block SubPageDescription%}
图形显示人员状态
{%endblock SubPageDescription%}


{% block SubPageContent %}
<div class="row">

<div class="col-md-6">
    
    <canvas id="SEX-Ratio" width="400" height="400"></canvas>
    <script>
    var ctx = document.getElementById("SEX-Ratio").getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'pie',
    data: {        
        labels: [{% for t in sex_ratio %} "{{t.sex}}", {% endfor %}],
        datasets: [{
            label: '男女分布',
            data: [{% for t in sex_ratio %} {{t.sex__count}}, {% endfor %}],
            backgroundColor: [                
                'rgba(54, 162, 235, 0.2)',
                'rgba(100, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(100,99,132,1)'
                
            ],
            borderWidth: 1
        }]
    },
    options:""
    }
);
    </script>
</div>
<div class="col-md-6"></div>
</div>

{% endblock SubPageContent %}
