{% extends "base.html" %}
{% block SubPageContent %}
  <div class="box">
    <!-- /.box-header -->
    <div class="box-body">
      <table id="dataList-table" class="display table table-bordered table-striped" >
        <thead>
        <tr>
        <th>姓名</th>
        <th>工号</th>
        <th>华为工号</th>
        <th>手机</th>
        <th>身份证</th>
        <th>公司邮箱</th>
        <th>华为邮箱</th>
        <th>性别</th>
        <th>职级</th>
        <th>入职日期</th>
        <th>部门</th>
        <th>业务线</th>
        <th>项目组</th>
        <th>籍贯省</th>
        <th>籍贯市</th>
        <th>出生日期</th>
        <th>婚姻状况</th>
        <th>员工住址</th>   
        <th>毕业院校</th>
        <th>学历</th>
        <th>专业</th>
        <th>毕业日期</th>
        <th>操作</th>
      </tr>
      </thead> 

      </table>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.row --> 
{% endblock SubPageContent %}

{% block JS-After %}
  <script>
      $(document).ready(function() {
        $('#dataList-table').DataTable(
          {
           "scrollX" : true,
           "ajax":"/HR/WS",
           'autoWidth' : true,
           "columnDefs" : [
            {
              "targets": 7, //性别那列
              "render" : function ( data, type, full, meta ){
                  if(data =="1"){
                    return "男";
                  }
                  else{
                    return "女"; 
                  }
                }
            },
            {
              "targets": 19, //学历那列
              "render" : function ( data, type, full, meta ){
                  switch(data){
                    case '0':
                      return '小学';
                    case '1':
                      return '初中';
                    case '2':
                      return '高中';
                    case '3':
                      return '大专';
                    case '4':
                      return '本科';
                    case '5':
                      return '研究生';
                  }
                }
            }
               ],
           "columns": [
            { "data": "userName" },
            { "data": "workNo" },
            { "data": "workNoExt" },
            { "data": "mobilePhone" },
            { "data": "IDNo" },
            { "data": "email" ,"visible": false},
            { "data": "email2" ,"visible": false},
            { "data": "sex" },
            { "data": "level" },
            { "data": "entryDate" },
            { "data": "depart" ,"visible": false},
            { "data": "productUnit" ,"visible": false},
            { "data": "projectName" },
            { "data": "provinceBirth","visible": false },
            { "data": "cityBirth","visible": false },
            { "data": "birthDay" },
            { "data": "maritalStatus" ,"visible": false},
            { "data": "address" ,"visible": false},
            { "data": "graduatedSchool" ,"visible": false},
            { "data": "education" },
            { "data": "profession" ,"visible": false},
            { "data": "graduatedDay" ,"visible": false},
            { "data": "workStatus" ,"visible": false},
        ],
        'language':{
              'url':"/static/bower_components/datatables.net/chinese.lang.json"
            }
            
          }
        );
    } );   
  </script>
{% endblock JS-After %}