{% comment "传入模板引用变量声明" %}
  corp  company;
  corp.ENShortName  英文短名
        .CNShortName  中文短名
{% endcomment %}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      {% comment "注释内容" %}   
      <!-- Sidebar user panel (optional) 用户状态面板，暂时不用注释--> 
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/static/HR/B-00000-head.jpg" class="img-circle" alt="User Image">
        </div>
        
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      {% endcomment %}

      <!-- search form (Optional) -->
      <form action="{% url 'HR-Root' %}"  method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="搜索...">
          <span class="input-group-btn">
              <button type="submit"  id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
          </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- Sidebar Menu 侧边菜单栏-->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">操作菜单</li>
        <li class="treeview active">
          <a href=""><i class="fa fa-users"></i> <span>人员信息</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li ><a href="/HR">       <i class="fa fa-user-secret"></i>人员看板</a></li>
            <li ><a href="/HR/list">  <i class="fa fa-user-secret"></i>人员列表</a></li>
            <li ><a href="/HR/add">   <i class="fa fa-user-plus"> </i>添加人员</a></li>
            <li ><a href="/HR/add"> <i class="fa fa-user">      </i>信息修改</a></li>
            <li ><a href="/HR/add"> <i class="fa fa-user-times"></i>删除人员</a></li>
          </ul>
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>