 <!-- Header Navbar 顶部导航栏
 导航栏通知消息
 notification
 -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button 侧边栏开关 位置顶部左侧-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">侧边导航迷你栏开关</span>
      </a>
      
      {# 判断用户是否登录成功 如果登录成功则显示用户导航栏、控制面板信息 #}
      {% if user.is_authenticated %}
      {# Navbar Right Menu 顶部右侧边导航按钮#}
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <!-- 这个span标签里面的数字代表图标边上数字显示 -->
              <span class="label label-success">{{MiniMails.count}}</span>
            </a>
            <ul class="dropdown-menu">

              <li class="header">您有 {{MiniMails.count}} 条未读消息</li>
              <li>
                <!-- inner menu: contains the messages -->
                <ul class="menu">
                {#循环读取消息显示出来 #}
                  {% for mail in MiniMails %}
                  <li><!-- start message 消息结构体开始-->
                      <a href="#">
                        <div class="pull-left">
                          <!-- User Image 用户头像 -->
                          <img src="/static/HR/{{user.employee.headPicPath}}" class="img-circle" alt="User Image">
                        </div>
                        <!-- Message title and timestamp -->
                        <h4>
                          {{ mail.msgTitle |truncatechars:10 }}
                          <small><i class="fa fa-clock-o"></i> 5 mins</small>
                        </h4>
                        <!-- The message 消息内容，超过9个显示省略号-->
                        <p>{{ mail.msgContent|truncatechars:20 }}</p>
                      </a>
                    </li>                 
                    <!-- end message消息结构体结束 -->
                  {% endfor %}
                  

                  {% comment %} 
                  <li><!-- start message2 第2个消息通知-->
                    <a href="#">
                      <div class="pull-left">
                        <!-- User Image -->
                        <img src="/static/HR/B-00001-head.jpg" class="img-circle" alt="User Image">
                      </div>
                      <!-- Message title and timestamp -->
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <!-- The message2 -->
                      <p><b>重要紧急！请尽快吧活动报销费用审批下去</b></p>
                    </a>
                  </li>
                  <!-- end message2 -->
                  <li><!-- start message2 第3个消息通知-->
                    <a href="#">
                      <div class="pull-left">
                        <!-- User Image -->
                        <img src="/static/HR/B-00002-head.png" class="img-circle" alt="User Image">
                      </div>
                      <!-- Message title and timestamp -->
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <!-- The message3 -->
                      <p>这是第三个消息体，里面包含了一些测试的信息。</p>
                    </a>
                  </li>
                  <!-- end message3 -->
                   {% endcomment %}

                </ul>
                <!-- /.menu -->
              </li>
              <li class="footer"><a href="#">查阅其它消息</a></li>
            </ul>
          </li>
          <!-- /.messages-menu -->

          <!-- Notifications Menu -->
          <li class="dropdown notifications-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <!-- 这个span标签里面的数字代表图标边上数字显示 -->
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">你有 10 条通知</li>
              <li>
                <!-- Inner Menu: contains the notifications -->
                <ul class="menu">
                  <li><!-- start notification -->
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <!-- end notification -->
                </ul>
              </li>
              <li class="footer"><a href="#">查阅其它通知</a></li>
            </ul>
          </li>
          <!-- Tasks Menu -->
          <li class="dropdown tasks-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <!-- Inner menu: contains the tasks -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <!-- Task title and progress text -->
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <!-- The progress bar -->
                      <div class="progress xs">
                        <!-- Change the css width attribute to simulate progress -->
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          
          <!-- User Account Menu 用户账号信息-->
            <li class="dropdown user user-menu">
              <!-- Menu Toggle Button -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- The user image in the navbar-->
                <img src="/static/HR/{{user.employee.headPicPath}}" class="user-image" alt="User Image">
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">{{user.employee.userName}}</span>
              </a>
              <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">
                  <img src="/static/HR/{{user.employee.headPicPath}}" class="img-circle" alt="User Image">

                  <p>
                    {{user.employee.userName}}/{{user.employee.workNo}}
                    <small>{{user.employee.entryDate}}入职</small>
                  </p>
                </li>
                <!-- Menu Body -->
                <li class="user-body">
                  <div class="row">
                    <div class="col-xs-4 text-center">
                      <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Friends</a>
                    </div>
                  </div>
                  <!-- /.row -->
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a href="{% url 'logout' %}" class="btn btn-default btn-flat">注销</a>
                  </div>
                </li>
              </ul>
            </li>      

          <!-- Control Sidebar Toggle Button 右边导航栏开关-->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
      {% endif %}{#判断用户是否登录成功#}
    </nav>
  