{% extends "base.html" %}
{% block SubPageContent %}
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Data Table With Full Features</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table id="dataList-table" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>姓名</th>
          <th>工号</th>
          <th>华为工号</th>
          <th>手机号码</th>
          <th>身份证号码</th>
          <th>电子邮箱</th>
          <th>电子邮箱2</th>
          <th>性别</th>
          <th>岗位级别</th>
          <th>入职日期</th>
          <th>部门</th>
          <th>业务线</th>
          <th>项目组</th>
          <th>籍贯省</th>
          <th>籍贯市</th>
          <th>出生日期</th>
          <th>婚姻状况</th>
          <th>员工住址</th>
          <th>毕业院校</th>
          <th>学历</th>
          <th>专业名称</th>
          <th>毕业时间</th>
          <th>在职状态</th>   
        </tr>
        </thead>
        <tfoot>
          <tr>
          <th>姓名</th>
          <th>工号</th>
          <th>华为工号</th>
          <th>手机号码</th>
          <th>身份证号码</th>
          <th>电子邮箱</th>
          <th>电子邮箱2</th>
          <th>性别</th>
          <th>岗位级别</th>
          <th>入职日期</th>
          <th>部门</th>
          <th>业务线</th>
          <th>项目组</th>
          <th>籍贯省</th>
          <th>籍贯市</th>
          <th>出生日期</th>
          <th>婚姻状况</th>
          <th>员工住址</th>
          <th>毕业院校</th>
          <th>学历</th>
          <th>专业名称</th>
          <th>毕业时间</th>
          <th>在职状态</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.row --> 
{% endblock SubPageContent %}

{% block JS-After %}
  <script>
      $(document).ready(function() {
        $('#dataList-table').DataTable(
          {
            'ajax': '/HR/WS',
            "columns"     : [
            { "data": "userName" },
            { "data": "workNo" },
            { "data": "workNoExt" },
            { "data": "mobilePhone" },
            { "data": "IDNo" },
            { "data": "email" },
            { "data": "email2" },
            { "data": "sex" },
            { "data": "level" },
            { "data": "entryDate" },
            { "data": "depart" },
            { "data": "productUnit" },
            { "data": "projectName" },
            { "data": "provinceBirth" },
            { "data": "cityBirth" },
            { "data": "birthDay" },
            { "data": "maritalStatus" },
            { "data": "address" },
            { "data": "graduatedSchool" },
            { "data": "education" },
            { "data": "profession" },
            { "data": "graduatedDay" },
            { "data": "workStatus" }
            ],
            'paging'      : true,
            'lengthChange': true,
            'searching'   : true,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : true,            
            // 设置表格翻译的语言
            'language':{
              'url':"/static/bower_components/datatables.net/chinese.lang.json"
            }
          }
        );
    } );   
  </script>
{% endblock JS-After %}